@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Models.LoginModel>
@{
    ViewData["Title"] = @Model.Title;
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<section class="body-sign">
    <div class="center-sign">

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>
            </div>
            <div class="panel-body">
                @{ Html.RenderAction("LoginForm", "Auth"); }
            </div>
        </div>
    </div>
</section>